## Minimum Working Example: Conjugate Calculations

In [6]:
import datetime as dt
import pandas as pd
import conjugate_map.conjCalcFunctions as conj

### Compute conjugate points for one point:

In [4]:
ut = dt.datetime(1980, 11, 3, 18, 0, 0)
lat, lon = [-64, -64]

print("Geopack: ")
print(conj.findconj(lat, lon, ut, method="geopack"))
print("AACGM: ")
print(conj.findconj(lat, lon, ut, method="aacgm"))
print("\nAutomatic: ")
print(conj.findconj(lat, lon, ut, method="auto", is_verbose = True))

Geopack:
(39.240006321966526, 291.07394597054764)
AACGM:
(36.700798441742975, -68.00768971281151)

Automatic:
Setting method according to latitude limits: aacgm
............................................Calculating conjugate point for -64, -64 at 1980-11-03 18:00:00 with AACGMV2:
Magnetic lat/lon: [-47.84424934117308, 8.872298220296411]
Conjugate geographic lat/lon: [36.700798441742975, -68.00768971281151]
(36.700798441742975, -68.00768971281151)

## Compute conjugate points for all points in a dataframe:

First we declare a dataframe:

In [7]:
df = pd.DataFrame({'Name':['McMurdo', 'SPA', 'PGC', 'SSI'], 
                   'lat': [-77.846323, -90, 44.984308, 40.019511], 
                   'lon': [ 166.668235, 0, -93.182207, -105.240014]
                  })


df

      Name        lat         lon
0  McMurdo -77.846323  166.668235
1      SPA -90.000000    0.000000
2      PGC  44.984308  -93.182207
3      SSI  40.019511 -105.240014

...and then we compute the conjugate points:

In [8]:
conj.conjcalc(df, latname = 'lat', lonname = 'lon')

      Name        lat         lon Hemisphere       PLAT        PLON
0  McMurdo -77.846323  166.668235          S  72.903812  -97.197534
1      SPA -90.000000    0.000000          S  68.065575  -66.258363
2      PGC  44.984308  -93.182207          N  44.984308  -93.182207
3      SSI  40.019511 -105.240014          N  40.019511 -105.240014

The default values are documented in the function:

In [11]:
help(conj.conjcalc)

Help on function conjcalc in module conjugate_map.conjCalcFunctions:

conjcalc(gdf, latname='GLAT', lonname='GLON', dtime=datetime.datetime(2024, 9, 17, 19, 48, 17, 133527, tzinfo=datetime.timezone.utc), is_verbose=False, method='aacgm', mode='S2N', is_saved=False, directory='output/', name='stations')
    Calculate the geographic latitudes and longitudes of conjugate points for
    all points in a dataframe. Calls findconj().

    Arguments:
        gdf         : dataframe of points whose conjugate points we're finding
        latname     : name of column containing latitude coordinates
        lonname     : name of column containing longitude coordinates
        dtime       : datetime used in conversion
        is_verbose  : if set to True/1, prints debugging text
        method      : method used in conversion, passed to findconj().
                        Options are 'geopack', which uses IGRF + T89 to run
                        field line traces, or 'aacgm'.
        mode        :
                                 'S2N'     : Return station coordinates for
                                              northern hemisphere, conjugate
                                              for southern. Map appears over
                                              the Arctic. Default.
                                 'N2S'     : Return station coordinates for
                                              southern hemisphere, conjugate
                                              for northern. Map appears over
                                              the Antarctic.
                                 'flip'    : Return conjugate coordinates for
                                             points regardless of hemisphere.
        is_saved    : Boolean dictating whether the final .csv is saved to
                        the output directory.
        directory   : Name of local directory to which .csv is saved;
                        'output/' by default.
        name        : First part of saved filename. 'stations' by default.

    Returns:
        gdf         : dataframe with PLAT, PLON columns added indicating which
                        points to plot